.dashboard {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  max-width: 100%;
}

.dashboard .title-section {
  text-align: center;
}

.dashboard .page-title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.dashboard .page-summary {
  color: #686666;
  font-size: 18px;
  max-width: 800px;
  align-self: center;
  text-align: center;
}


.dashboard .id-summary {
  display: flex;
  gap: 16px;
  color: #333;
  font-size: 18px;
  max-width: 800px;
  align-self: center;
  text-align: center;
}

